/* reset */
$base-bg: #fff;
$base-text-color: #000;
$base-fs: 18px;
$base-line-height: 22px;
$base-font-family: "Proxima Nova", sans-serif;
$second-font-family: "Montserrat", sans-serif;
/* main variables */

//text, title colors
$text-color: #1f1f1f;
$text-color-white: #fff;
$text-green: #09c254;

$title-color: #090909;
$title-color-wite: #fff;

// background colors
$bg-dark: #25282a;
$bg-green: #11c45a;
$bg-black: #1f1f1f;
$bg-light-gray: #f2f5fa;

// font size title
$font-size-h1: 60px;
$line-height-h1: 72px;
$font-size-h2: 36px;
$line-height-h2: 43px;
$font-size-h3: 24px;
$line-height-h3: 29px;

// colors
$black: #000;
$color-placeholder: #a3a3a3;

$button-green: #10c359;
$button-black: #212121;
