.accordion {
	width: 100%;
	@include radius(5px);
	overflow: hidden;
	font-family: $second-font-family;
	font-size: $base-fs;
	color: #232323;
	background-color: #f9fbff;
	font-weight: 400;
	&__item {
		border-bottom: 1px solid #dbdcde;
		&:last-of-type {
			border-bottom: none;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		padding-left: 34px;
		> p {
			width: 90%;
		}
		span {
			cursor: pointer;
			display: block;
			width: 100px;
			height: 100px;
			background: #f2f5fb url(../images/icons/arrow-down-black.svg) no-repeat center center;
			&.rotate {
				@include transform(rotate(180deg));
			}
		}
	}
	&__body {
		display: none;
		padding: 20px 34px;
	}
}

@media only screen and (max-width: 1199.8px) {
	.accordion {
		font-size: 16px;
		&__header {
			padding-left: 18px;
			span {
				width: 60px;
				min-width: 60px;
				height: 60px;
			}
		}
		&__body {
			display: none;
			padding: 16px 24px;
		}
	}
}

@media only screen and (max-width: 991.8px) {
	.accordion {
		font-size: 11px;
	}
}

@media only screen and (max-width: 767.8px) {
	.accordion {
		font-size: 14px;
		&__header {
			position: relative;
			padding: 14px 18px;
			> p {
				width: 86%;
			}
			span {
				height: 100%;
				width: 50px;
				min-width: 50px;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
			}
		}
	}
}
