/*
================================================================================
|                                 GENERAL STYLE                                |
================================================================================
*/

%center-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	margin: 0;
	position: relative;
	background-color: $base-bg;
	height: 100%;
	font-family: $base-font-family;
	font-size: $base-fs !important;
	line-height: normal;
	font-weight: 400;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 182px;
}

section {
	padding-top: 300px;
}

.overflow-hidden {
	overflow: hidden;
}

.btn {
	@extend %center-center;
	white-space: pre-wrap;
	width: 100%;
	max-width: 350px;
	height: 66px;
	@include radius(5px);
	color: $text-color-white;
	font-size: $base-fs + 1px;
	font-weight: 700;
	&:hover {
		color: $text-color-white;
	}
	&:focus {
		box-shadow: none;
	}
}

.btn-green {
	background-color: $button-green;
}

.btn-black {
	background-color: $button-black;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.title-section {
	font-size: 156px;
	font-weight: 100;
	color: $title-color;
	text-align: center;
}

.text-section {
	font-size: 29px;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.social-link {
	justify-content: flex-end;
	li {
		margin-right: 18px;
		&:last-of-type {
			margin-right: 0;
		}
		> a {
			display: flex;
			width: 32px;
			&:hover {
				svg {
					fill: #0ec357;
				}
			}
		}
	}
}

.phone {
	position: relative;
	font-size: 28.5px;
	color: #323232;
	&.open {
		background-color: $base-bg;
	}

	&__list {
		text-align: left;
		display: none;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background-color: $base-bg;
		z-index: 2;
		&.show {
			display: block;
		}
		> li {
			margin: 18px 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__number {
		display: inline-flex;
		align-items: center;
		padding: 6px 0;
	}

	.arrow-down {
		display: flex;
		width: 12px;
		margin-left: 20px;
		cursor: pointer;
	}
	&__you-call {
		display: inline-block;
		color: $text-green;
		margin-right: 32px;
		border-bottom: dashed 1.3px;
	}
}

.language {
	position: relative;
	width: 58px;
	height: 33px;
	color: #a3a3a3;
	font-size: 14px;
	font-family: $second-font-family;
	background-color: #ebebeb;
	@include radius(5px);
	@extend %center-center;
	> li {
		a {
			> img {
				width: 6px;
				margin-left: 8px;
			}
			&:hover {
				color: #a3a3a3;
			}
		}
	}
	&__sub {
		position: absolute;
		left: 0;
		top: 90%;
		display: none;
		width: 100%;
		background-color: #ebebeb;
		@include radius(0 0 5px 5px);
		text-align: center;
		padding: 10px 0;
		> li {
			padding: 6px 0;
		}
	}
}

// style arrow slider
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	bottom: 0;
	width: 86px;
	height: 86px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	z-index: 2;
	@include transition(0.3s);
	&:hover,
	&:focus,
	&.slick-disabled {
		background-color: #b5b5b5 !important;
	}
}

.slick-next {
	background: $bg-dark url(../images/icons/arrow-next.png) no-repeat center center/30px;
}

.slick-prev {
	background: $bg-dark url(../images/icons/arrow-prev.png) no-repeat center center/30px;
}

.slick-dots {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 22px;
	left: 50%;
	@include transform(translateX(-50%));
	> li {
		position: relative;
		width: 14px;
		height: 14px;
		background-color: transparent;
		@include radius(50%);
		margin-right: 6px;
		border: 1px solid #878686;
		&:last-of-type {
			margin-right: 0;
		}
		&.slick-active {
			background-color: $bg-green;
			border: none;
		}
		> button {
			opacity: 0;
		}
	}
}

// tabs style
.tabs-block {
	width: 100%;
	height: auto;
	@include radius(15px);
	overflow: hidden;
}
.tab-navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;
	&__item {
		position: relative;
		background-color: $base-bg;
		color: $base-text-color;
		font-size: 24px;
		width: 33%;
		flex: auto;
		@include transition(0.4s);
		&.active {
			background-color: $bg-green;
			color: $text-color-white;
		}
	}
}

.tab-content {
	width: 100%;
	&__item {
		display: none;
		&.open {
			display: block;
		}
	}
}

@media screen and (max-width: 1199.8px) {
	body {
		font-size: 14px !important;
		padding-top: 120px;
	}

	section {
		padding-top: 120px;
	}

	.social-link {
		justify-content: flex-start;
		li {
			margin-right: 14px;
			> a {
				width: 24px;
			}
		}
	}

	.phone {
		font-size: 20px;
		&__list {
			> li {
				margin: 14px 0;
			}
		}
		.arrow-down {
			width: 8px;
			margin-left: 15px;
		}
		&__you-call {
			font-size: 12px;
			margin-right: 20px;
			border-bottom: dashed 1px;
		}
	}

	.language {
		width: 50px;
		height: 26px;
		font-size: 12px;
		> li {
			a {
				> img {
					width: 5px;
					margin-left: 6px;
				}
			}
		}
	}

	.title-section {
		font-size: 94px;
	}

	.text-section {
		font-size: 17px;
		max-width: 450px;
	}

	.slick-prev,
	.slick-next {
		width: 48px;
		height: 48px;
		background-size: 18px;
	}

	.tab-navigation {
		&__item {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 991.8px) {
	.btn {
		max-width: 220px;
		height: 56px;
		font-size: 13px;
	}

	.tab-navigation {
		&__item {
			font-size: 15px;
		}
	}
}

@media screen and (max-width: 767.8px) {
	body {
		padding-top: 66px;
	}

	.btn {
		max-width: 350px;
		height: 60px;
		font-size: 16px;
	}

	.title-section {
		font-size: 73px;
	}

	.text-section {
		font-size: 16px;
		max-width: 400px;
	}

	.phone {
		width: 130px;
		font-size: 14.3px;
		margin-right: 15px;
		margin-left: auto;
		.arrow-down {
			margin-left: 10px;
		}
		&__you-call {
			font-size: 14px;
			margin-right: 24px;
		}
	}
}

@media screen and (max-width: 575.8px) {
}
