/*
================================================================================
|                                 GENERAL STYLE                                |
================================================================================
*/

%center-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	margin: 0;
	position: relative;
	background-color: $base-bg;
	height: 100%;
	font-family: $base-font-family;
	font-size: $base-fs;
	line-height: normal;
	font-weight: 400;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	padding-top: 300px;
}

.overflow-hidden {
	overflow: hidden;
}

.btn {
	@extend %center-center;
	white-space: pre-wrap;
	width: 100%;
	max-width: 350px;
	height: 66px;
	@include radius(5px);
	color: $text-color-white;
	font-size: $base-fs + 1px;
	font-weight: 700;
	@include transition(0.3s);
	&:hover {
		color: $text-color-white;
		box-shadow: 0 16px 18px rgba($color: #000000, $alpha: 0.2);
	}
	&:focus {
		box-shadow: none;
	}
}

.btn-green {
	background-color: $button-green;
	&:focus,
	&:active {
		background-color: #139949;
	}
}

.btn-black {
	background-color: $button-black;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.title-section {
	font-size: 156px;
	font-weight: 100;
	color: $title-color;
	text-align: center;
}

.text-section {
	font-size: 29px;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.social-link {
	justify-content: flex-end;
	li {
		margin-right: 18px;
		&:last-of-type {
			margin-right: 0;
		}
		> a {
			display: flex;
			width: 32px;
			&:hover {
				svg {
					fill: #0ec357;
				}
			}
		}
	}
}

.phone {
	position: relative;
	font-size: 28.5px;
	color: #323232;
	&.open {
		background-color: $base-bg;
	}

	&__list {
		text-align: left;
		display: none;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background-color: $base-bg;
		z-index: 2;
		&.show {
			display: block;
		}
		> li {
			margin: 18px 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__number {
		display: inline-flex;
		align-items: center;
		padding: 6px 0;
	}

	.arrow-down {
		display: flex;
		width: 12px;
		margin-left: 20px;
		cursor: pointer;
	}
	&__you-call {
		display: inline-block;
		color: $text-green;
		margin-right: 32px;
		border-bottom: dashed 1.3px;
	}
}

.language {
	position: relative;
	width: 58px;
	height: 33px;
	color: #a3a3a3;
	font-size: 14px;
	font-family: $second-font-family;
	background-color: #ebebeb;
	@include radius(5px);
	@extend %center-center;
	> li {
		a {
			> img {
				width: 6px;
				margin-left: 8px;
			}
			&:hover {
				color: #a3a3a3;
			}
		}
	}
	&__sub {
		position: absolute;
		left: 0;
		top: 90%;
		display: none;
		width: 100%;
		background-color: #ebebeb;
		@include radius(0 0 5px 5px);
		text-align: center;
		padding: 10px 0;
		> li {
			padding: 6px 0;
		}
	}
}

// style arrow slider
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	bottom: 0;
	width: 86px;
	height: 86px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	z-index: 2;
	@include transition(0.3s);
	&:hover,
	&:focus,
	&.slick-disabled {
		background-color: #b5b5b5 !important;
	}
}

.slick-next {
	background: $bg-dark url(../images/icons/arrow-next.png) no-repeat center center/30px;
}

.slick-prev {
	background: $bg-dark url(../images/icons/arrow-prev.png) no-repeat center center/30px;
}

.slick-dots {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 22px;
	left: 50%;
	@include transform(translateX(-50%));
	> li {
		position: relative;
		width: 14px;
		height: 14px;
		background-color: transparent;
		@include radius(50%);
		margin-right: 6px;
		border: 1px solid #878686;
		&:last-of-type {
			margin-right: 0;
		}
		&.slick-active {
			background-color: $bg-green;
			border: none;
		}
		> button {
			opacity: 0;
		}
	}
}

// tabs style
.tabs-block {
	width: 100%;
	height: auto;
	@include radius(15px);
	overflow: hidden;
}
.tab-navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;
	&__item {
		position: relative;
		background-color: $base-bg;
		color: $base-text-color;
		font-size: 24px;
		width: 33%;
		flex: auto;
		@include transition(0.4s);
		cursor: pointer;
		&.active {
			background-color: $bg-green;
			color: $text-color-white;
		}
	}
}

.tab-content {
	width: 100%;
	&__item {
		display: none;
		&.open {
			display: block;
		}
	}
}

.loaded {
	overflow: hidden;
	.load {
		display: block;
	}
}

.load {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f3f3f3;
	z-index: 1000;
	display: none;
	&__content {
		height: 100%;
		@extend %center-center;
		> img {
			width: 460px;
		}
	}
	&__info {
		max-width: 560px;
		.logo {
			margin-bottom: 80px;
			p {
				margin-left: 48px;
			}
		}
		> p {
			font-size: 42px;
		}
	}
}

.icon-info {
	&:hover {
		.box-info {
			opacity: 1;
			z-index: 2;
		}
	}
}
.box-info {
	position: absolute;
	top: 32px;
	right: 0;
	opacity: 0;
	z-index: -1;
	width: 240px;
	@include transition(opacity 0.4s);
	padding-top: 10px;
	cursor: default;
	p {
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		padding: 12px 14px;
	}
}

@media screen and (max-width: 1199.8px) {
	body {
		font-size: 14px;
	}

	section {
		padding-top: 120px;
	}

	.social-link {
		justify-content: flex-start;
		li {
			margin-right: 14px;
			> a {
				width: 24px;
			}
		}
	}

	.phone {
		font-size: 20px;
		&__list {
			> li {
				margin: 14px 0;
			}
		}
		.arrow-down {
			width: 8px;
			margin-left: 15px;
		}
		&__you-call {
			font-size: 12px;
			margin-right: 20px;
			border-bottom: dashed 1px;
		}
	}

	.language {
		width: 50px;
		height: 26px;
		font-size: 12px;
		> li {
			a {
				> img {
					width: 5px;
					margin-left: 6px;
				}
			}
		}
	}

	.title-section {
		font-size: 94px;
	}

	.text-section {
		font-size: 17px;
		max-width: 450px;
	}

	.slick-prev,
	.slick-next {
		width: 48px;
		height: 48px;
		background-size: 18px;
	}

	.tab-navigation {
		&__item {
			font-size: 18px;
		}
	}

	.load {
		&__content {
			flex-direction: column;
			> img {
				width: 370px;
			}
		}
		&__info {
			order: -1;
			.logo {
				width: 340px;
				margin: 0 auto 54px;
				font-size: 35px;
				p {
					margin-left: 30px;
					> small {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991.8px) {
	.btn {
		max-width: 220px;
		height: 56px;
		font-size: 13px;
	}

	.tab-navigation {
		&__item {
			font-size: 15px;
		}
	}
}

@media screen and (max-width: 767.8px) {
	.btn {
		max-width: 350px;
		height: 60px;
		font-size: 16px;
	}

	.title-section {
		font-size: 73px;
	}

	.text-section {
		font-size: 16px;
		max-width: 400px;
	}

	.phone {
		width: 130px;
		font-size: 14.3px;
		margin-right: 15px;
		margin-left: auto;
		.arrow-down {
			margin-left: 10px;
		}
		&__you-call {
			font-size: 14px;
			margin-right: 24px;
		}
	}

	// tabs style
	.tabs-block {
		@include radius(0);
	}
	.tab-navigation {
		flex-wrap: wrap;
		&__item {
			background-color: #adb2b9;
			color: $text-color-white;
			font-weight: 700;
			font-size: 16px;
			width: 49.6%;
			flex: none;
			&.active {
				order: 2;
				width: 100%;
				margin-top: 2px;
			}
		}
	}

	.load {
		&__content {
			> img {
				width: 200px;
			}
		}
		&__info {
			width: 278px;
			.logo {
				width: 170px;
				margin: 0 auto 20px;
				font-size: 17px;
				> img {
					width: 36px;
				}
				p {
					margin-left: 10px;
					> small {
						font-size: 9px;
					}
				}
			}
			> p {
				font-size: 20px;
			}
		}
	}
}

@media screen and (max-width: 575.8px) {
}
